@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap");
*{
    font-family: "Roboto";
    margin: 0;
}
h1{
    font-size: 2em;
    padding: 2%;
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
p.txtPromo{
    padding-top: 1%;
}

h2{
    margin: 0;
    padding-top: 50px;
}
section#barr{
    background-color: rgba(0, 29, 45, 1);
    text-align: right;
}
ul{
    list-style: none;
    color: white;
    font-size: 1em;
    padding: 1% 0;
}
li{
    display: inline;
    padding: 1%;
}
section.barrPromo{
    background-color: rgba(28, 209, 176, 1);
    height: 40px;
    padding-bottom: 0;
    margin: 0;    
}
section.barrBanner{
    padding-top: 0;
    background-color: rgba(0, 102, 159, 1);
    height: 100px;
    margin: 0;
    display: flex;
}
h2{
    font-size: 30px;
}
h2#tForm{
    color: white;
    font-size: 2.5em;
    font-weight: bold;
}
p{
    color: white;
    font-size: 1.2em;
    font-weight:lighter;
}
p.infoH{
    color: black;
    font-size: 1em;
}
div.liD{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heroe{
    width: 300px;
    display: inline-block;
    background-color: rgba(243, 243, 243, 1);;
    margin: 10px;
    text-align: center;
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
    position: relative;
    
}
button#btSubm{
    background-color: rgba(28, 209, 176, 1);
    color: black;
    font-size: 2.5em;
    font-weight: bold;
    width: 40%;
    height: 50px;
    border-radius: 5px;
    margin: 2%;
}
label{
    align-self: center;
    color: white;
    margin: 2%;
    text-align: left;
}
main{
    text-align: center;
    position: relative;
    padding-top: 10%;
    padding-bottom: 10%;
}
section#infoBody{
    display: flex;
    flex-wrap: wrap;
    padding: 1% 8%;
    justify-content: center;
}
i.fa-solid{
    color: rgba(0, 102, 159, 1);
    position: absolute;
    font-size: 3em;
    top: 60vh;
    left: 90vw;    
}
.campos{
    width: 22vw;
    border-radius: 5px;
    border-style: none;
    margin: 4% 0;
}
input.iName{
    height: 40px;
}
input.fec{
    height: 40px;
}

select.sEspecie{
    height: 46px;
}
textarea.Desc{
    margin-right: 2%;
    height: 40vh;
    width: 19vw;
    font-size: 1.2em;
    font-weight: lighter;
    padding: 4%;
    
}
h3{
    color: white;
    font-size: 1.2em;
    font-weight: lighter;
}
article.art{
    text-align: left;
    padding: 0 0 10% 0;
    width: 120%;
}
article > label{
    display: block; 
    margin: 5% 0;   
}
label > input{
    margin-right: 15%;
    font-size: 1em;
    font-weight: lighter;
}
div{
    padding-right: 12%;
    margin: 4% 4%;
}
article.tpPer{
    padding-top: 10%;
}
button{
    color: white;
    background-color: rgba(0, 102, 159, 1);
    font-size: 15px;
    width: 120px;
    height: 45px;
    border: none;
}
footer{
    text-align: center;
    background-color: rgba(0, 102, 159, 1);
    color: white;
    font-size: 16px;
    font-family: "Roboto";
    height: 40px;
}
.fondo1{
    background-repeat: no-repeat;
}
.pic{
    border-radius:150px;
    position: absolute;
    left: 90px;
    top: 120px;
}

.infoH{
    text-align: left;
    padding: 12px;
    font-size: 16;
}

.fas{
    position:absolute;
    top: 20px;
    left: 20px;
    font-size: 40px;
    color:rgba(204, 36, 36, 1);
}
form{
    background-color: rgba(0, 102, 159, 1);
    margin: 2% 10%;
    border-radius: 25px;
}